<launch>

  <include file="$(find ackermann_simu)/launch/gazebo_without_rviz.launch"/>

  <!-- rviz visualization -->

    <arg name="rvizconfig" default="$(find ackermann_simu)/rviz/urdf.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />


</launch>
